.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.controls {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: var(--accent-light);
  padding: 0.5rem;
  box-shadow: var(--shadow);
}

.btn {
  background-color: var(--accent-light);
  border: none;
  cursor: pointer;
  color: var(--text);
}

.addBtn {
  composes: btn;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.delBtn {
  composes: btn;
  padding: 0.5rem;
  border-radius: 100%;
  box-shadow: var(--shadow);
}
