.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 80vh;
}

.imageContainer {
  width: 500px;
  height: auto;
}

.btn {
  composes: addBtn from "../../../components/QuantityInput/QuantityInput.module.css";
  max-width: 280px;
  font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
  .imageContainer {
    width: 90%;
  }
}
