.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}

.title {
  font-family: "DM Serif Text", serif;
  font-size: 3rem;
  font-weight: 500;
}

.list {
  display: flex;
  gap: 1.5rem;
}

.menuButton {
  display: none;
}

.listItem {
  display: block;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
}

.listItem[aria-current="page"] {
  background-color: var(--accent-light);
  border-radius: var(--border-radius);
}

.actions {
  display: flex;
  gap: 1rem;
}

.themeToggle,
.menuButton {
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .list {
    display: none;
  }

  .menuButton {
    display: block;
  }

  .open {
    position: absolute;
    top: 4rem;
    right: 1rem;
    background-color: var(--bg-light);
    border-radius: var(--border-radius);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
}
