.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--bg-light);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  animation: fadeIn 0.4s ease-out forwards;
}

.imageContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-light);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  height: 150px;
  box-shadow: inset var(--shadow);
}
.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.ratingContainer {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  opacity: 0.8;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 3rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
