.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--bg-light);
  border-radius: var(--border-radius);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-light);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  height: 150px;
}
.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
