@import "tailwindcss";

:root {
  --bg: rgb(236, 232, 223);
  --bg-light: rgb(252, 248, 240);
  --accent: rgb(126, 144, 122);
  --accent-light: rgb(210, 212, 198);
  --text: rgb(55, 55, 45);
  --border-radius: 1.75rem;
  --star-filled: var(--accent);
  --star-empty: var(--accent-light);
  --shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
}

:root.dark {
  --bg: rgb(36, 38, 42);
  --bg-light: rgb(50, 54, 60);
  --accent: rgb(42, 60, 42);
  --accent-light: rgb(64, 84, 66);
  --text: rgb(232, 226, 198);
  --star-filled: rgb(110, 130, 105);
  --star-empty: rgb(60, 65, 70);
}

body {
  background-color: var(--bg);
  font-family: "Outfit", sans-serif;
  color: var(--text);
}
